{{!-- <div id="your-publications">
     <div class="text-card">
        <div class="flex-row flex-fill-space">
            <img class="rounded--img" src={{#if this.owner.profile_pic}}{{this.owner.profile_pic}}{{else}}"./images/image.jpg"{{/if}} alt="profile-pic" width="40px"/>
            <code class="username-size">{{this.owner.username}}</code>
        </div>
        <div >

            <pre class="card-body"><code class="{{language this.language}}">{{this.code}}</code></pre>
        </div>
        <div class="flex-row bottom-card">
            <div class="card-details flex-row ">
                <div class="like-details">
                    <form method="post" action="/like/{{this._id}}">
                        <code class="code-size">{{count this.likes}}</code>
                        <input type="image" src="./images/heart-red.png" width="20px"
                               alt="heart-red" name="like" style="display: {{userLiked this.likes true}}"/>
                        <input type="image" src="./images/heart-empty.png" width="20px"
                               alt="heart-red" name="like" style="display: {{userLiked this.likes false}}"/>
                    </form>
                </div>
                <div class="messages-details">
                    <code class="code-size">{{count this.comments}}</code>
                    <img src="./images/comment.png" alt="comment" width="20px"/>
                </div>
            </div>
            <div>
                <a href="/details/{{this._id}}">More Details</a>
            </div>
        </div>
    </div>



</div> --}}

{{!-- <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
    <h2>{{queryUser.name}}'s PROFILE</h2>
    <form action="">
        <button>Follow</button>
    </form>
    <div class="circular--landscape circular--landscape-size"><img src="{{queryUser.profile_pic}}"  width="150" alt="profile's picture"></div>

    
    <h4>{{queryUser.username}}</h4>
    <h4>Bio??</h4>
    

</div> --}}



<div class="d-flex justify-content-around profile-container">
<div class="publications-left custom-font">
  <ul>
    {{#each myPublications}}
      <li><a href="/details/{{this._id}}">{{this.description}}</a></li>
    {{/each}}
  </ul>

</div>
<div class="verticalLine"></div>




<div class="d-flex flex-column bd-highlight mb-3 align-items-center profile-center">
  <h2 >{{queryUser.name}}'s PROFILE</h2>
  <div class="circular--landscape circular--landscape-size">
    <img
      
      src="{{queryUser.profile_pic}}"
      width="150"
      alt="profile's picture"
    />
  </div>
  <br>
  <span>1001 followers  || 500 following</span>
  <br><br>
  <form action="/profile/edit">
    <button class="button-14" role="button">Follow</button>
  </form>
  <h4>{{queryUser.username}}</h4>
  <span>{{queryUser.bio}}</span>

</div>

<div class="verticalLine"></div>

<div class="comments-rigth">
    <ul>
        <li>comentarios aqui</li>
    </ul>
</div>
</div>