<div class="flex-row">
  <div class="circular--landscape circular--landscape-size margin-top2">
    <img src="{{queryUser.profile_pic}}" width="150" alt="profile's picture" />
  </div>
  <div class="margin-top2">
    <br /><br /><br /><br /><br />
    <form action="/profile/follow/{{queryUser._id}}" method="post">
      <button>{{follow queryUser.followers}}</button>
    </form>

    <form
      action="/profile/{{queryUser._id}}"
      method="post"
      style="display: {{isAdminHBS}}"
    >
      <button type="submit">Delete User Account using Admin powers</button>
    </form>

  </div>

  <div
    class="d-flex flex-column bd-highlight mb-3 align-items-center profile-center margin-top2 toggle-button-text"
  >
    <br /><br />
    <h4>@{{queryUser.username}}</h4>
    <span>{{queryUser.bio}}</span>
  </div>

</div>

<br />
<div class="flex-row justify-content-between">
<span>{{count queryUser.followers}}
  followers |
  {{count queryUser.followings}}
  followings</span>
  
  <form action="/chat/{{queryUser._id}}">
<button>Send a message</button>
</form>
</div>
<br /><br />
<hr />



{{! esta fet }}

<h1 class="text-center">My Publications</h1>

<div class="flex-row flex-wrap">
  {{#each myPublications}}
    <a class="text-decoration-none" href="/details/{{this._id}}">
      <div class="text-card2">
        <div>

          <pre class="card-body2"><code
              class="{{language this.language}}"
            >{{this.code}}</code></pre>
        </div>
        <div class="flex-row bottom-card">
          <div class="card-details flex-row">
            <a
              class="text-decoration-none"
              href="/details/{{this._id}}"
            >{{this.description}}</a>
          </div>
        </div>
      </div>
    </a>

  {{/each}}
</div>