<div class="d-flex flex-column bd-highlight mb-3 align-items-center">
  <h2>{{editProfile.name}}'s PROFILE SETTINGS</h2>

  <form action="/profile/edit" method="POST" enctype="multipart/form-data">
    <div class="circular--landscape">
      <img
        src="{{editProfile.profile_pic}}"
        width="150"
        alt="profile's picture"
      /></div>

    <br />
    {{! <label for="image">Changes your photo</label> }}
    <br />
    <input type="file" name="image" />

    <br />
    <br /><br />

    <label for="username">Username</label>
    <input type="text" name="username" value="{{editProfile.username}}" />

    <br />

    <label for="name">Name</label>
    <input type="text" name="name" value="{{editProfile.name}}" />
    <br />

    <label for="bio">Bio</label>

    <textarea rows="5" cols="60" name="bio" value="{{editProfile.bio}}">Write
      something about you</textarea>
    <br />

    <button class="button-14" role="button">Update Changes</button>

  </form>

  <!-- Button trigger modal -->
  <button
    class="button-14"
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModalCenter"
  >
    Delete my account
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete account</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure to delete your account? :(
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Back</button>

          <form action="/profile/delete" method="post">

            <button type="submit" class="btn btn-primary">Yes, I'm sure!</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>