<div class="d-flex flex-column bd-highlight mb-3 align-items-center">
  <h1 class="custom-font padding-m">Settings</h1>
    <div id="edit-profile-container">
      <h2 class="custom-font">Profile of {{editProfile.name}}</h2>
      <form action="/profile/edit" method="POST" enctype="multipart/form-data">
        <div class="circular--landscape circular--landscape-size">
          <img
            src="{{editProfile.profile_pic}}"
            width="150"
            alt="profile's picture"
          /></div>

        <input type="file" id="file" name="image" />
        <label for="file" class="btn-3">
          <span>Upload picture</span>
        </label>

        <div class="input-group mb-3">
          <span
            class="input-group-text"
            id="inputGroup-sizing-default"
          >Username</span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            name="username"
            value="{{editProfile.username}}"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            name="name"
            value="{{editProfile.name}}"
          />
        </div>
        <div class="input-group">
          <span class="input-group-text">Biography</span>
          <textarea
            class="form-control"
            aria-label="With textarea"
            rows="5"
            cols="60"
            name="bio"
            value="{{editProfile.bio}}"
            placeholder="Write something about you"
          >{{editProfile.bio}}</textarea>
        </div>
        <div id="update-button">
          <button class="btn btn-success" role="button">Update Changes</button>
        </div>

      </form>

  <button
    class="button-15"
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModalCenter"
  >
    Delete my account
  </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete account</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure to delete your account? :(
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Back</button>

          <form action="/profile/delete" method="post">

            <button type="submit" class="btn btn-primary">Yes, I'm sure!</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>