<div id="total" class="flex-row flex-start">
<div id="profile-info" class="flex-row">
  <div class="circular--landscape circular--landscape-size">
    <img src="{{myProfile.profile_pic}}" width="150" alt="profile's picture" />  
  </div>
  

  <div
    class="d-flex flex-column bd-highlight mb-3 align-items-center profile-center"
  >
    <br /><br />
    <h4>{{myProfile.username}}</h4>
    <span>{{myProfile.bio}}</span>
    {{! //aqui comensa modal }}

    <div id="followers">
<a data-bs-toggle="modal" data-bs-target="#exampleModal">{{count
    myProfile.followers
  }}
  followers</a>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body flex-column">
        {{#each myFollowers}}
          <div class="flex-row remove-style margin-top-sm modal-every-user">
            <img
              class="rounded--img"
              src="{{this.profile_pic}}"
              alt=""
              width="20px"
              height="20px"
            />
            <a href="/profile/{{this._id}}">{{this.username}}</a>
          </div>

        {{/each}}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <form action="/profile/followers">
          <button class="btn btn-primary">See more followers</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{! aqui acaba modal }}

|
<a data-bs-toggle="modal" data-bs-target="#exampleModal2">{{count
    myProfile.followings
  }}
  followings</a>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">followings</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body flex-column">
        {{#each myFollowings}}

          <div class="d-flex">
            <img
              class="rounded--img"
              src="{{this.profile_pic}}"
              alt=""
              width="20px"
            />
            <a href="/profile/{{this._id}}">{{this.username}}</a>
          </div>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <form action="/profile/followings">
          <button class="btn btn-primary">See more followings</button>
        </form>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>

</div>


{{!-- divs grans --}}
<div id="publications-profile" class="flex-column margin-top2">

<h1 class="text-center">My Publications</h1>


<div class="flex-row flex-wrap">
  {{#each myPublications}}
    <div class="d-flex flex-column">
      <a
        class="text-decoration-none text-width minus-margin"
        href="/details/{{this._id}}"
      >{{this.description}}</a>

      <a class="text-decoration-none" href="/details/{{this._id}}">
        <div class="text-card2">
          <div>

            <pre class="card-body2"><code
                class="{{language this.language}}"
              >{{this.code}}</code></pre>
          </div>
          <div class="flex-row bottom-card">
            <div class="card-details flex-row">
              <div class="like-details">
                <form method="post" action="/like/{{this._id}}">
                  <code class="code-size">{{count this.likes}}</code>
                  <input
                    type="image"
                    src="/images/heart-red.png"
                    width="20px"
                    alt="heart-red"
                    name="like"
                    style="display: {{userLiked this.likes true}}"
                  />
                  <input
                    type="image"
                    src="/images/heart-empty.png"
                    width="20px"
                    alt="heart-red"
                    name="like"
                    style="display: {{userLiked this.likes false}}"
                  />
                </form>
              </div>
              <div class="messages-details">
                <code class="code-size">{{count this.comments}}</code>
                <img src="/images/comment.png" alt="comment" width="20px" />
              </div>
            </div>
            <div>
              <a href="/details/{{this._id}}"><img
                  src="/images/points.png"
                  alt=""
                  width="25px"
                /></a>
            </div>
          </div>

        </div>
      </a>
    </div>

  {{/each}}
</div>

</div>
</div>