<div id="profil-edit">
    <h2>{{editProfile.name}}'s PROFILE SETTINGS</h2>







    <form action="/profile/edit" method="POST" enctype="multipart/form-data">
        <img src="{{#if editProfile.profile_pic}}{{editProfile.profile_pic}}{{else}}"./images/image.jpg"{{/if}}" alt="profile's picture">
        <br>
        {{!-- <label for="image">Changes your photo</label> --}}
        <br>
        <input type="file" name="image">

        <br>
        <br><br>

        <label for="username">Username</label>
        <input type="text" name="username" value="{{editProfile.username}}">

        <br>

        <label for="name">Name</label>
        <input type="text" name="name" value="{{editProfile.name}}">
        <br>

    

        <button>Update Changes</button>

    </form>

    <form action="/profile/delete" method="post">
        <button>Delete my account</button>
    </form>
</div>