<div class="d-flex justify-content-around profile-container">
<div class="publications-left custom-font">
  <ul>
    {{#each myPublications}}
      <li><a href="/details/{{this._id}}">{{this.description}}</a></li>
    {{/each}}
  </ul>

</div>
<div class="verticalLine"></div>


<div class="d-flex flex-column bd-highlight mb-3 align-items-center">
    <h2>{{queryUser.name}}'s PROFILE</h2>
    <form action="/profile/follow/{{queryUser._id}}" method="post">
        <button>{{follow queryUser.followers}}</button>
    </form>
    <div class="circular--landscape circular--landscape-size"><img src="{{queryUser.profile_pic}}"  width="150" alt="profile's picture"></div>


    <h4>{{queryUser.username}}</h4>
    <h4>Bio??</h4>

    <form action="/profile/{{queryUser._id}}" method="post" style="display: {{isAdminHBS}}">
        <button type="submit">Delete User Account using Admin powers</button>
    </form>
  <h4>{{queryUser.username}}</h4>
  <span>{{queryUser.bio}}</span>

</div>

<div class="verticalLine"></div>

<div class="comments-rigth">
    <ul>
        <li>comentarios aqui</li>
    </ul>
</div>
</div>