<div class="margin-top">
    {{#if languageSearch}}
        {{#each languageSearch}}
            <div class="flex-row margin-top-sm">
                <img class="rounded--img" src="{{this.owner.profile_pic}}" alt="profile-pic" width="40px" height="40px"/>
                <a href="/details/{{this._id}}">{{this.description}}</a>
            </div>
        {{/each}}
    {{/if}}
    {{#if userSearch}}
        {{#each userSearch}}
            <div class="flex-row margin-top-sm">
                <img class="rounded--img" src="{{this.profile_pic}}" alt="profile-pic" width="40px" height="40px"/>
                <a href="/profile/{{this._id}}">{{this.username}}</a>
            </div>
        {{/each}}
    {{/if}}

</div>



